//<МИКСИНЫ>===============================================================================================
@import "_defuld/mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import "_defuld/fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
//@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: 'Magistral';
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>===========================================================================================================
//-----------ОСНОВНЫЕ ЦВЕТА------------------
$color_1: #FFFFFF;
$color_2: #333;
$color_3: #E53935;
$color_4: rgba(229, 57, 53, 0.3);
$color_5: #90A4AE;
$color_6: #37474F;

$link-img: '';


$minWidth: 320px;
$maxWidth: 3200;
$maxWidthContainer: 1130;
$md1: $maxWidthContainer + 20;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;
//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "_defuld/null";
body {
	@include adaptiv-font(18,16);
	font-weight: 300;
	color: #000;
	letter-spacing: 0.09em;
	line-height: 1.5;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
	@media (max-width: $md1+px) {
		max-width: 970px;

	}
	@media (max-width: $md2+px) {
		max-width: 750px;
		padding: 0 20px;
	}
	@media (max-width: $md3+px) {
		max-width: none;
		padding: 0 20px;
	}
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================



//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
	padding-top: 60px;
	@include mq('desktop') {
		padding-top: 140px;
	}
	&.main{
		padding-top: 0 !important;
	}
}
//===================================================================================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================


//------------Заголовки и подзоголовки-----------------


.title{
	@include adaptiv-font(26,20);
	font-weight: 800;
	text-transform: uppercase;
}



//-----------Кнопка основная------------------

.button{
	background: $color_1;
	color: $color_2;
	text-align: center;
	padding: 11px 27px;
	cursor: pointer;
	transition: .5s;
	width: fit-content;
	@include adaptiv-font(16,14);
	font-weight: 300;
	border: 1px solid $color_3;
	text-transform: uppercase;

	&:hover{
		background: $color_3;
		color: $color_1;
	}
}



//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//component
@import "../component/dropDownLlist/scss/dropDownLlist.scss";
@import "../component/Modals/scss/modals.scss";
@import "../component/lazyLoad/scss/lazyLoad.scss";


@import "_basice/popup";
@import "_basice/header";
@import "_basice/footer";
@import "_basice/menu/menu";
@import "_basice/animation-inputs";

//main
@import "main/first-screen";
@import "main/animation-scroll";
@import "main/portfolio";
@import "main/we-this-sl";
@import "main/modal-presentation";

//case
@import "case/case-top";
@import "case/description";
@import "case/customers";
@import "case/project";
@import "case/reviews";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================