footer.footer
    ._container
        .body-footer
            .footer-col
                a.footer__logo(href="/")
                    picture
                        source(data-srcset='img/icons/logo.svg' srcset='img/1x1.png' type='image/webp')
                        img(data-src='img/icons/logo.svg' src='img/1x1.png' alt='Картинка')
                a.footer__phone(href="tel:+7 (900) 247-75-00 ") +7 (900) 247-75-00
                .footer__address г. Краснодар, ул. Красных Партизан, 367
                a.footer__mail(href="mailto:.hi@labsales.ru") hi@labsales.ru

            .footer-col
                a.footer__link-main(href="#") услуги
                a.footer__link-second(href="#") Разработка сайтов
                a.footer__link-second(href="#") Веб-дизайн
                a.footer__link-second(href="#") Техническая поддержка сайтов
                a.footer__link-second(href="#") Digital-Маркетинг

            .footer-col
                a.footer__link-main(href="#") о компании
                a.footer__link-main(href="#") портофолио
                a.footer__link-main(href="#") карьера
                a.footer__link-main(href="#") контакты

            .footer-col
                .footer__soc.footer-soc
                    .footer-soc__title Мы в социальных сетях:
                    .footer-soc__links
                        a.footer-soc__link(href="#")
                            picture
                                source(data-srcset='img/icons/soc/vk.svg' srcset='img/1x1.png' type='image/webp')
                                img(data-src='img/icons/soc/vk.svg' src='img/1x1.png' alt='Картинка')
                        a.footer-soc__link(href="#")
                            picture
                                source(data-srcset='img/icons/soc/fb.svg' srcset='img/1x1.png' type='image/webp')
                                img(data-src='img/icons/soc/fb.svg' src='img/1x1.png' alt='Картинка')
                        a.footer-soc__link(href="#")
                            picture
                                source(data-srcset='img/icons/soc/int.svg' srcset='img/1x1.png' type='image/webp')
                                img(data-src='img/icons/soc/int.svg' src='img/1x1.png' alt='Картинка')
                .footer__agima
                    picture
                        source(data-srcset='img/icons/agima.svg' srcset='img/1x1.png' type='image/webp')
                        img(data-src='img/icons/agima.svg' src='img/1x1.png' alt='Картинка')
                .footer__lab Labsales - © 2021