header.header
    .header__content._container
        .header__menu.menu
            .menu__icon
                span
            nav.menu__body
                ul.menu__list
                    li
                        a.menu__link(data-goto='.page__section_1' href='#') &Rcy;&acy;&zcy;&dcy;&iecy;&lcy; &numero;1
                    li
                        a.menu__link(data-goto='.page__section_2' href='#') &Rcy;&acy;&zcy;&dcy;&iecy;&lcy; &numero;2
                    li
                        a.menu__link(data-goto='.page__section_3' href='#') &Rcy;&acy;&zcy;&dcy;&iecy;&lcy; &numero;3
                    li
                        a.menu__link(href='') &Scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&acy; &numero;1
                        span.menu__arrow
                        ul.menu__sub-list
                            li
                                a.menu__sub-link(href='') &Rcy;&acy;&zcy;&dcy;&iecy;&lcy; &scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&ycy; &numero;1
                            li
                                a.menu__sub-link(href='') &Rcy;&acy;&zcy;&dcy;&iecy;&lcy; &scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&ycy; &numero;2
                            li
                                a.menu__sub-link(href='') &Rcy;&acy;&zcy;&dcy;&iecy;&lcy; &scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&ycy; &numero;3
                    li
                        a.menu__link(href='') &Scy;&tcy;&rcy;&acy;&ncy;&icy;&tscy;&acy; &numero;2
