header.header
    .header__container._container
        .body-header
            a.header__logo(href="/")
                img(src='img/icons/logo.svg' alt='logo')
            .header__menu.menu
                .menu__icon
                    span
                nav.menu__body
                    ul.menu__list
                        li
                            a.menu__link(data-goto='.page__section_1' href='#') о компании
                        li
                            a.menu__link(href='') услуги
                            span.menu__arrow
                                img(src='img/icons/menu-arrow_down.svg' alt='arrow')
                            ul.menu__sub-list
                                li
                                    a.menu__sub-link(href='') Разработка сайтов
                                li
                                    a.menu__sub-link(href='') Веб-дизайн
                                li
                                    a.menu__sub-link(href='') Техническая поддержка сайтов
                                li
                                    a.menu__sub-link(href='') Digital-Маркетинг

                        li
                            a.menu__link(data-goto='.page__section_2' href='#') кейсы
                        li
                            a.menu__link(data-goto='.page__section_3' href='#') карьера
                        li
                            a.menu__link(href='') контакты
            .header__phone.header-phone
                a.header-phone__link(href="tel:+79002477500") +7(900)247-75-00
            .header__mail.header-mail
                a.header-mail__link(href="mailto:hi@labsales.ru") hi@labsales.ru
