include pug/mixins
doctype html
html(lang="ru")
    +head('Кейсы')
    body
        .wrapper
            include pug/_basic/_header
            .page
                include pug/case/case-top
                include pug/case/description
                include pug/case/customers
                include pug/case/project-sl
                include pug/case/reviews

            include pug/_basic/_footer

        include pug/_basic/_popup
        include pug/_basic/_js