include pug/mixins
doctype html
html(lang="ru")
    +head('Кейсы')
    body
        .wrapper
            include pug/_basic/_header
            .page


            include pug/_basic/_footer

        include pug/_basic/_popup
        include pug/_basic/_js