include pug/mixins
doctype html
html(lang="ru")
    +head('Главная')
    body
        .wrapper
            include pug/_basic/_header
            .page
                ._container
                    h1 Labsales
                    .page__image
                        picture
                            source(data-srcset='img/01.webp' srcset='img/1x1.png' type='image/webp')
                            img(data-src='img/01.jpg' src='img/1x1.png' alt='Картинка')
                    .page__image
                        picture
                            source(data-srcset='img/02.webp' srcset='img/1x1.png' type='image/webp')
                            img(data-src='img/02.jpg' src='img/1x1.png' alt='Картинка')
                    .page__image
                        picture
                            source(data-srcset='img/03.webp' srcset='img/1x1.png' type='image/webp')
                            img(data-src='img/03.jpg' src='img/1x1.png' alt='Картинка')
                    .page__image
                        picture
                            source(data-srcset='img/04.webp' srcset='img/1x1.png' type='image/webp')
                            img(data-src='img/04.jpg' src='img/1x1.png' alt='Картинка')
                    .page__image
                        picture
                            source(data-srcset='img/05.webp' srcset='img/1x1.png' type='image/webp')
                            img(data-src='img/05.jpg' src='img/1x1.png' alt='Картинка')
                    .page__image
                        picture
                            source(data-srcset='img/06.webp' srcset='img/1x1.png' type='image/webp')
                            img(data-src='img/06.jpg' src='img/1x1.png' alt='Картинка')
                    .page__image
                        picture
                            source(data-srcset='img/01.webp' srcset='img/1x1.png' type='image/webp')
                            img(data-src='img/01.jpg' src='img/1x1.png' alt='Картинка')
                    .page__image
                        picture
                            source(data-srcset='img/02.webp' srcset='img/1x1.png' type='image/webp')
                            img(data-src='img/02.jpg' src='img/1x1.png' alt='Картинка')



            include pug/_basic/_footer

        include pug/_basic/_popup
        include pug/_basic/_js