.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: $color_1;
}

.body-header{
  display: grid;
  justify-content: space-between;
  grid-template-columns: 100px 30px ;
  align-items: center;
  height: 60px;
  @include mq('tablet-990') {
    grid-template-columns: 70px 1fr auto auto;
    grid-gap: 15px;
  }
  @include mq('tablet-wide') {
    grid-template-columns: 100px 1fr auto auto;
  }
  @include mq('desktop') {
    grid-template-columns: 160px 1fr auto auto;
    height: 140px;
  }
}
.header__logo{
  display: block;
  width: 100%;
  z-index: 3;
  img{
    max-width: 100%;
  }
}

.header-phone__link{
  color: $color_2;
  font-weight: 700;
}

.header-mail__link{
  color: $color_3;
  text-decoration: underline;
}

.header-phone,.header-mail{
  @include maq('tablet-990') {
    display: none;
  }
}

body._pc{
  .header-phone__link{
    &:hover{
      color: $color_3;
    }
  }
  .header-mail__link{
    &:hover{
      text-decoration: none;
    }
  }
}


