section.sec-first-screen
    ._container
        .body-first-screen
            .wrapper-content
                .body-first-screen-video
                    .video
                        .logo-maska
                            img(src="img/icons/labsales_mask.svg")
                        .wrapper-video
                            video(autoplay loop  muted="muted" ).start-video.js--video
                                source(src="videos/video.mp4" type='video/mp4; codecs="avc1.42E01E, mp4a.40.2"')

                .body-first-screen-sl
                    .wrapper-pagination-arrows
                        .firstScreen-pagination
                        .firstScreen-button-prev
                            svg(width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M7.41016 10.58L2.83016 6L7.41016 1.41L6.00016 0L0.000156403 6L6.00016 12L7.41016 10.58Z" fill="#37474F")

                        .firstScreen-button-next
                            svg(width="8" height="12" viewBox="0 0 8 12" fill="none" xmlns="http://www.w3.org/2000/svg")
                                path(d="M0 10.58L4.58 6L0 1.41L1.41 0L7.41 6L1.41 12L0 10.58Z" fill="#37474F")

                    .swiper-container.firstScreen-container
                        .swiper-wrapper
                            .swiper-slide.firstScreen-slide
                               h2 Создаем <span>проекты</span>, <br>
                                 | в которых есть <span>смысл</span>
                            .swiper-slide.firstScreen-slide
                               h2 Создаем <span>проекты</span>, <br>
                                 | в которых есть <span>смысл1</span>
                                 | в которых есть
                            .swiper-slide.firstScreen-slide
                                h2 Создаем <span>проекты</span>, <br>
                                    | в которых есть <span>смысл2</span>
                                    | в которых есть <span>смысл3</span>
                            .swiper-slide.firstScreen-slide
                                h2 Создаем <span>проекты</span>, <br>
                                    | в которых есть <span>смысл3</span>
                                    | в которых есть <span>смысл3</span>
                                    | в которых есть <span>смысл3</span>

            .body-first-screen-bottom
                .socials
                    a.socials__el(href="#")
                        svg(width="10" height="20" viewBox="0 0 10 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M10 0V4H8C7.31 4 7 4.81 7 5.5V8H10V12H7V20H3V12H0V8H3V4C3 2.93913 3.42143 1.92172 4.17157 1.17157C4.92172 0.421427 5.93913 0 7 0H10Z" fill="#E53935")
                    a.socials__el(href="#")
                        svg(width="20" height="20" viewBox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M5.8 0H14.2C17.4 0 20 2.6 20 5.8V14.2C20 15.7383 19.3889 17.2135 18.3012 18.3012C17.2135 19.3889 15.7383 20 14.2 20H5.8C2.6 20 0 17.4 0 14.2V5.8C0 4.26174 0.61107 2.78649 1.69878 1.69878C2.78649 0.61107 4.26174 0 5.8 0ZM5.6 2C4.64522 2 3.72955 2.37928 3.05442 3.05442C2.37928 3.72955 2 4.64522 2 5.6V14.4C2 16.39 3.61 18 5.6 18H14.4C15.3548 18 16.2705 17.6207 16.9456 16.9456C17.6207 16.2705 18 15.3548 18 14.4V5.6C18 3.61 16.39 2 14.4 2H5.6ZM15.25 3.5C15.5815 3.5 15.8995 3.6317 16.1339 3.86612C16.3683 4.10054 16.5 4.41848 16.5 4.75C16.5 5.08152 16.3683 5.39946 16.1339 5.63388C15.8995 5.8683 15.5815 6 15.25 6C14.9185 6 14.6005 5.8683 14.3661 5.63388C14.1317 5.39946 14 5.08152 14 4.75C14 4.41848 14.1317 4.10054 14.3661 3.86612C14.6005 3.6317 14.9185 3.5 15.25 3.5ZM10 5C11.3261 5 12.5979 5.52678 13.5355 6.46447C14.4732 7.40215 15 8.67392 15 10C15 11.3261 14.4732 12.5979 13.5355 13.5355C12.5979 14.4732 11.3261 15 10 15C8.67392 15 7.40215 14.4732 6.46447 13.5355C5.52678 12.5979 5 11.3261 5 10C5 8.67392 5.52678 7.40215 6.46447 6.46447C7.40215 5.52678 8.67392 5 10 5ZM10 7C9.20435 7 8.44129 7.31607 7.87868 7.87868C7.31607 8.44129 7 9.20435 7 10C7 10.7956 7.31607 11.5587 7.87868 12.1213C8.44129 12.6839 9.20435 13 10 13C10.7956 13 11.5587 12.6839 12.1213 12.1213C12.6839 11.5587 13 10.7956 13 10C13 9.20435 12.6839 8.44129 12.1213 7.87868C11.5587 7.31607 10.7956 7 10 7Z" fill="#E53935")

                    a.socials__el(href="#")
                        svg(width="20" height="13" viewBox="0 0 20 13" fill="none" xmlns="http://www.w3.org/2000/svg")
                            path(d="M17.58 6.72C17.54 6.1 17.33 5.63 16.96 5.31C16.59 4.99 16.13 4.83 15.58 4.83C15 4.83 14.5 5 14.19 5.34C13.86 5.68 13.65 6.14 13.57 6.72H17.58ZM19.92 6.49C20 6.9 20 7.49 20 8.26H13.5C13.55 9.16 13.85 9.78 14.44 10.14C14.79 10.37 15.22 10.48 15.73 10.48C16.26 10.48 16.69 10.34 17 10.07C17.2 9.92 17.36 9.72 17.5 9.45H19.88C19.82 9.99 19.53 10.52 19 11.07C18.22 11.95 17.1 12.37 15.66 12.37C14.47 12.37 13.43 12 12.5 11.27C11.62 10.54 11.16 9.35 11.16 7.7C11.16 6.15 11.57 4.95 12.39 4.15C13.21 3.32 14.27 2.91 15.58 2.91C16.35 2.91 17.05 3.05 17.67 3.33C18.29 3.61 18.81 4.04 19.21 4.65C19.58 5.18 19.81 5.79 19.92 6.49ZM7.58 8.52C7.58 7.87 7.31 7.42 6.79 7.18C6.5 7.05 6.08 6.98 5.54 6.95H2.87V10.29H5.5C6.04 10.29 6.46 10.22 6.76 10.07C7.31 9.8 7.58 9.28 7.58 8.52ZM2.87 4.91H5.5C6.04 4.91 6.5 4.81 6.82 4.6C7.16 4.4 7.32 4.03 7.32 3.51C7.32 2.95 7.1 2.55 6.66 2.36C6.27 2.23 5.78 2.17 5.19 2.17H2.87V4.91ZM9.72 6.87C10.04 7.37 10.2 7.98 10.2 8.69C10.2 9.45 10 10.09 9.65 10.68C9.41 11.07 9.12 11.39 8.77 11.66C8.37 11.95 7.9 12.17 7.36 12.28C6.82 12.39 6.24 12.45 5.61 12.45H0V0H6C7.53 0.03 8.6 0.45 9.23 1.33C9.61 1.86 9.8 2.49 9.8 3.23C9.8 3.99 9.61 4.6 9.23 5.06C9 5.32 8.7 5.56 8.28 5.77C8.91 6 9.39 6.37 9.72 6.87ZM18.06 1.77H13.05V0.52H18.06V1.77Z" fill="#E53935")


                a.mouse(href="#sec-second")
                .wrapper-brn
                    .cost-btn.button рассчитать стоимость





