section.sec-modal-presentation
    ._container
        .body-modal-presentation
            .modal-presentation__el.line
                p Есть проект? <br> <a class="popup-link" href="#brif">заполните бриф</a>
            .modal-presentation__el
                p Получите <br> <a href="" download>презентацию</a>