section.sec-modal-presentation
    ._container
        .body-modal-presentation.line
            .modal-presentation__el.one._anim-items_anim-no-hide
                p Есть проект? <br> <a class="popup-link" href="#brif">заполните бриф</a>
            .modal-presentation__el._anim-items._anim-no-hide
                p Получите <br> <a href="" download>презентацию</a>