
section.sec-portfolio-sl#sec-second
    .body-portfolio-sl
        .swiper-container.portfolio-container
            .swiper-wrapper.portfolio-wrapper
                .swiper-slide.portfolio-slide
                    .portfolio-slide__image.swiper-lazy(data-background="img/portf_1.png" )
                        ._container.position
                            .portfolio-slide__tipe-site Корпоративные сайты
                            a.wrapper-more(href="#")
                                .wrapper-more__default
                                    picture
                                        source(data-srcset='img/icons/link-site.svg' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/icons/link-site.svg' src='img/1x1.png' alt='Картинка')
                                .wrapper-more__hover
                                    picture
                                        source(data-srcset='img/icons/link-site-hover.svg' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/icons/link-site-hover.svg' src='img/1x1.png' alt='Картинка')
                .swiper-slide.portfolio-slide
                    .portfolio-slide__image.swiper-lazy(data-background="img/portf_1.png" )
                        ._container.position
                            .portfolio-slide__tipe-site Корпоративные сайты
                            a.wrapper-more(href="#")
                                .wrapper-more__default
                                    picture
                                        source(data-srcset='img/icons/link-site.svg' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/icons/link-site.svg' src='img/1x1.png' alt='Картинка')
                                .wrapper-more__hover
                                    picture
                                        source(data-srcset='img/icons/link-site-hover.svg' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/icons/link-site-hover.svg' src='img/1x1.png' alt='Картинка')

                .swiper-slide.portfolio-slide
                    .portfolio-slide__image.swiper-lazy(data-background="img/portf_1.png" )
                        ._container.position
                            .portfolio-slide__tipe-site Корпоративные сайты
                            a.wrapper-more(href="#")
                                .wrapper-more__default
                                    picture
                                        source(data-srcset='img/icons/link-site.svg' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/icons/link-site.svg' src='img/1x1.png' alt='Картинка')
                                .wrapper-more__hover
                                    picture
                                        source(data-srcset='img/icons/link-site-hover.svg' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/icons/link-site-hover.svg' src='img/1x1.png' alt='Картинка')
                .swiper-slide.portfolio-slide
                    .portfolio-slide__image.swiper-lazy(data-background="img/portf_1.png" )
                        ._container.position
                            .portfolio-slide__tipe-site Корпоративные сайты
                            a.wrapper-more(href="#")
                                .wrapper-more__default
                                    picture
                                        source(data-srcset='img/icons/link-site.svg' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/icons/link-site.svg' src='img/1x1.png' alt='Картинка')
                                .wrapper-more__hover
                                    picture
                                        source(data-srcset='img/icons/link-site-hover.svg' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/icons/link-site-hover.svg' src='img/1x1.png' alt='Картинка')


            ._container.position
                .arrows
                    .portfolio-button-prev.arrow-portfolio
                        svg(width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg")
                            circle(cx="25" cy="25" r="24.5" stroke="white")
                            path(d="M31 10L16 25L31 40" stroke="white" stroke-width="2")

                    .portfolio-slide__text-bottom
                        .portfolio-slide__name-project Brick to Brick
                        .portfolio-slide__description Сайт для студии дизайна интерьера

                    .portfolio-button-next.arrow-portfolio
                        svg(width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg")
                            circle(r="24.5" transform="matrix(-1 0 0 1 25 25)" stroke="white")
                            path(d="M19 10L34 25L19 40" stroke="white" stroke-width="2")
section.sec-portfolio-sl
    .body-portfolio-sl
        .swiper-container.portfolio-container
            .swiper-wrapper.portfolio-wrapper
                .swiper-slide.portfolio-slide
                    .portfolio-slide__image.swiper-lazy(data-background="img/portf_2.png" )
                        ._container.position
                            .portfolio-slide__tipe-site Корпоративные сайты
                            a.wrapper-more(href="#")
                                .wrapper-more__default
                                    picture
                                        source(data-srcset='img/icons/link-site.svg' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/icons/link-site.svg' src='img/1x1.png' alt='Картинка')
                                .wrapper-more__hover
                                    picture
                                        source(data-srcset='img/icons/link-site-hover.svg' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/icons/link-site-hover.svg' src='img/1x1.png' alt='Картинка')
                .swiper-slide.portfolio-slide
                    .portfolio-slide__image.swiper-lazy(data-background="img/portf_1.png" )
                        ._container.position
                            .portfolio-slide__tipe-site Корпоративные сайты
                            a.wrapper-more(href="#")
                                .wrapper-more__default
                                    picture
                                        source(data-srcset='img/icons/link-site.svg' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/icons/link-site.svg' src='img/1x1.png' alt='Картинка')
                                .wrapper-more__hover
                                    picture
                                        source(data-srcset='img/icons/link-site-hover.svg' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/icons/link-site-hover.svg' src='img/1x1.png' alt='Картинка')

                .swiper-slide.portfolio-slide
                    .portfolio-slide__image.swiper-lazy(data-background="img/portf_1.png" )
                        ._container.position
                            .portfolio-slide__tipe-site Корпоративные сайты
                            a.wrapper-more(href="#")
                                .wrapper-more__default
                                    picture
                                        source(data-srcset='img/icons/link-site.svg' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/icons/link-site.svg' src='img/1x1.png' alt='Картинка')
                                .wrapper-more__hover
                                    picture
                                        source(data-srcset='img/icons/link-site-hover.svg' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/icons/link-site-hover.svg' src='img/1x1.png' alt='Картинка')
                .swiper-slide.portfolio-slide
                    .portfolio-slide__image.swiper-lazy(data-background="img/portf_1.png" )
                        ._container.position
                            .portfolio-slide__tipe-site Корпоративные сайты
                            a.wrapper-more(href="#")
                                .wrapper-more__default
                                    picture
                                        source(data-srcset='img/icons/link-site.svg' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/icons/link-site.svg' src='img/1x1.png' alt='Картинка')
                                .wrapper-more__hover
                                    picture
                                        source(data-srcset='img/icons/link-site-hover.svg' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/icons/link-site-hover.svg' src='img/1x1.png' alt='Картинка')


            ._container.position
                .arrows
                    .portfolio-button-prev.arrow-portfolio
                        svg(width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg")
                            circle(cx="25" cy="25" r="24.5" stroke="white")
                            path(d="M31 10L16 25L31 40" stroke="white" stroke-width="2")

                    .portfolio-slide__text-bottom
                        .portfolio-slide__name-project Brick to Brick
                        .portfolio-slide__description Сайт для студии дизайна интерьера

                    .portfolio-button-next.arrow-portfolio
                        svg(width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg")
                            circle(r="24.5" transform="matrix(-1 0 0 1 25 25)" stroke="white")
                            path(d="M19 10L34 25L19 40" stroke="white" stroke-width="2")
section.sec-portfolio-sl
    .body-portfolio-sl
        .swiper-container.portfolio-container
            .swiper-wrapper.portfolio-wrapper
                .swiper-slide.portfolio-slide
                    .portfolio-slide__image.swiper-lazy(data-background="img/portf_1.png" )
                        ._container.position
                            .portfolio-slide__tipe-site Корпоративные сайты
                            a.wrapper-more(href="#")
                                .wrapper-more__default
                                    picture
                                        source(data-srcset='img/icons/link-site.svg' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/icons/link-site.svg' src='img/1x1.png' alt='Картинка')
                                .wrapper-more__hover
                                    picture
                                        source(data-srcset='img/icons/link-site-hover.svg' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/icons/link-site-hover.svg' src='img/1x1.png' alt='Картинка')
                .swiper-slide.portfolio-slide
                    .portfolio-slide__image.swiper-lazy(data-background="img/portf_1.png" )
                        ._container.position
                            .portfolio-slide__tipe-site Корпоративные сайты
                            a.wrapper-more(href="#")
                                .wrapper-more__default
                                    picture
                                        source(data-srcset='img/icons/link-site.svg' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/icons/link-site.svg' src='img/1x1.png' alt='Картинка')
                                .wrapper-more__hover
                                    picture
                                        source(data-srcset='img/icons/link-site-hover.svg' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/icons/link-site-hover.svg' src='img/1x1.png' alt='Картинка')

                .swiper-slide.portfolio-slide
                    .portfolio-slide__image.swiper-lazy(data-background="img/portf_1.png" )
                        ._container.position
                            .portfolio-slide__tipe-site Корпоративные сайты
                            a.wrapper-more(href="#")
                                .wrapper-more__default
                                    picture
                                        source(data-srcset='img/icons/link-site.svg' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/icons/link-site.svg' src='img/1x1.png' alt='Картинка')
                                .wrapper-more__hover
                                    picture
                                        source(data-srcset='img/icons/link-site-hover.svg' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/icons/link-site-hover.svg' src='img/1x1.png' alt='Картинка')
                .swiper-slide.portfolio-slide
                    .portfolio-slide__image.swiper-lazy(data-background="img/portf_1.png" )
                        ._container.position
                            .portfolio-slide__tipe-site Корпоративные сайты
                            a.wrapper-more(href="#")
                                .wrapper-more__default
                                    picture
                                        source(data-srcset='img/icons/link-site.svg' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/icons/link-site.svg' src='img/1x1.png' alt='Картинка')
                                .wrapper-more__hover
                                    picture
                                        source(data-srcset='img/icons/link-site-hover.svg' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/icons/link-site-hover.svg' src='img/1x1.png' alt='Картинка')


            ._container.position
                .arrows
                    .portfolio-button-prev.arrow-portfolio
                        svg(width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg")
                            circle(cx="25" cy="25" r="24.5" stroke="white")
                            path(d="M31 10L16 25L31 40" stroke="white" stroke-width="2")

                    .portfolio-slide__text-bottom
                        .portfolio-slide__name-project Brick to Brick
                        .portfolio-slide__description Сайт для студии дизайна интерьера

                    .portfolio-button-next.arrow-portfolio
                        svg(width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg")
                            circle(r="24.5" transform="matrix(-1 0 0 1 25 25)" stroke="white")
                            path(d="M19 10L34 25L19 40" stroke="white" stroke-width="2")
section.sec-portfolio-sl
    .body-portfolio-sl
        .swiper-container.portfolio-container
            .swiper-wrapper.portfolio-wrapper
                .swiper-slide.portfolio-slide
                    .portfolio-slide__image.swiper-lazy(data-background="img/portf_1.png" )
                        ._container.position
                            .portfolio-slide__tipe-site Корпоративные сайты
                            a.wrapper-more(href="#")
                                .wrapper-more__default
                                    picture
                                        source(data-srcset='img/icons/link-site.svg' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/icons/link-site.svg' src='img/1x1.png' alt='Картинка')
                                .wrapper-more__hover
                                    picture
                                        source(data-srcset='img/icons/link-site-hover.svg' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/icons/link-site-hover.svg' src='img/1x1.png' alt='Картинка')
                .swiper-slide.portfolio-slide
                    .portfolio-slide__image.swiper-lazy(data-background="img/portf_1.png" )
                        ._container.position
                            .portfolio-slide__tipe-site Корпоративные сайты
                            a.wrapper-more(href="#")
                                .wrapper-more__default
                                    picture
                                        source(data-srcset='img/icons/link-site.svg' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/icons/link-site.svg' src='img/1x1.png' alt='Картинка')
                                .wrapper-more__hover
                                    picture
                                        source(data-srcset='img/icons/link-site-hover.svg' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/icons/link-site-hover.svg' src='img/1x1.png' alt='Картинка')

                .swiper-slide.portfolio-slide
                    .portfolio-slide__image.swiper-lazy(data-background="img/portf_1.png" )
                        ._container.position
                            .portfolio-slide__tipe-site Корпоративные сайты
                            a.wrapper-more(href="#")
                                .wrapper-more__default
                                    picture
                                        source(data-srcset='img/icons/link-site.svg' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/icons/link-site.svg' src='img/1x1.png' alt='Картинка')
                                .wrapper-more__hover
                                    picture
                                        source(data-srcset='img/icons/link-site-hover.svg' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/icons/link-site-hover.svg' src='img/1x1.png' alt='Картинка')
                .swiper-slide.portfolio-slide
                    .portfolio-slide__image.swiper-lazy(data-background="img/portf_1.png" )
                        ._container.position
                            .portfolio-slide__tipe-site Корпоративные сайты
                            a.wrapper-more(href="#")
                                .wrapper-more__default
                                    picture
                                        source(data-srcset='img/icons/link-site.svg' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/icons/link-site.svg' src='img/1x1.png' alt='Картинка')
                                .wrapper-more__hover
                                    picture
                                        source(data-srcset='img/icons/link-site-hover.svg' srcset='img/1x1.png' type='image/webp')
                                        img(data-src='img/icons/link-site-hover.svg' src='img/1x1.png' alt='Картинка')


            ._container.position
                .arrows
                    .portfolio-button-prev.arrow-portfolio
                        svg(width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg")
                            circle(cx="25" cy="25" r="24.5" stroke="white")
                            path(d="M31 10L16 25L31 40" stroke="white" stroke-width="2")

                    .portfolio-slide__text-bottom
                        .portfolio-slide__name-project Brick to Brick
                        .portfolio-slide__description Сайт для студии дизайна интерьера

                    .portfolio-button-next.arrow-portfolio
                        svg(width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg")
                            circle(r="24.5" transform="matrix(-1 0 0 1 25 25)" stroke="white")
                            path(d="M19 10L34 25L19 40" stroke="white" stroke-width="2")

