section.sec-we-this
    ._container
        .body-we-this-sl
            .main-sl._anim-items
                .title-we-this Labsales <br> это
                .swiper-container.main-container
                    .swiper-wrapper.main-wrapper
                        .swiper-slide.main-slide дизайн
                        .swiper-slide.main-slide разработка
                        .swiper-slide.main-slide проектирование





            .description-sl
                .swiper-container.description-container
                    .swiper-wrapper.description-wrapper
                        .swiper-slide.description-slide
                            .description-slide__ic._anim-items
                                img.swiper-lazy(data-src="img/icons/sl-1.svg")

                            .description-slide__text._anim-items
                                h2._anim-show Дизайн веб-сайтов и мобильных приложений
                                p._anim-show Cайты, порталы, веб-сервисы, интернет-магазины, мобильные приложения. Прототипы, дизайн, анимация.
                                br
                                br
                                h2._anim-show Графический дизайн
                                p._anim-show Дизайн веб-презентаций, рекламных баннеров, тизеров, флаеров, лифлеты, стенды, иконки и другое.
                                br
                                br
                                h2._anim-show UX-аналитика
                                p._anim-show UX-аналитика
                        .swiper-slide.description-slide
                            .description-slide__ic
                                img.swiper-lazy(data-src="img/icons/sl-2.svg")

                            .description-slide__text
                                h2 Дизайн веб-сайтов и мобильных приложений
                                p Cайты, порталы, веб-сервисы, интернет-магазины, мобильные приложения. Прототипы, дизайн, анимация.
                                br
                                br
                                h2 Графический дизайн
                                p Дизайн веб-презентаций, рекламных баннеров, тизеров, флаеров, лифлеты, стенды, иконки и другое.

                        .swiper-slide.description-slide
                            .description-slide__ic
                                img.swiper-lazy(data-src="img/icons/sl-3.svg")

                            .description-slide__text
                                h2 Дизайн веб-сайтов и мобильных приложений
                                p Cайты, порталы, веб-сервисы, интернет-магазины, мобильные приложения. Прототипы, дизайн, анимация.
                                br
                                br
                                h2 Графический дизайн
                                p Дизайн веб-презентаций, рекламных баннеров, тизеров, флаеров, лифлеты, стенды, иконки и другое.
                                br
                                br
                                h2 UX-аналитика
                                p UX-аналитика
                                br
                                br
                                h2 Дизайн веб-сайтов и мобильных приложений
                                p Cайты, порталы, веб-сервисы, интернет-магазины, мобильные приложения. Прототипы, дизайн, анимация.

            .main-pagination
