section.ces-customers
    ._container
        .customers__title.title Клиенты в сфере строительства и ремонта
        .body-customers
            .customers-el
                picture
                    source(data-srcset='img/customers/1.svg' srcset='img/1x1.png' type='image/webp')
                    img(data-src='img/customers/1.svg' src='img/1x1.png' alt='Картинка')
            .customers-el
                picture
                    source(data-srcset='img/customers/2.svg' srcset='img/1x1.png' type='image/webp')
                    img(data-src='img/customers/2.svg' src='img/1x1.png' alt='Картинка')
            .customers-el
                picture
                    source(data-srcset='img/customers/3.svg' srcset='img/1x1.png' type='image/webp')
                    img(data-src='img/customers/3.svg' src='img/1x1.png' alt='Картинка')
            .customers-el
                picture
                    source(data-srcset='img/customers/4.svg' srcset='img/1x1.png' type='image/webp')
                    img(data-src='img/customers/4.svg' src='img/1x1.png' alt='Картинка')
            .customers-el
                picture
                    source(data-srcset='img/customers/5.svg' srcset='img/1x1.png' type='image/webp')
                    img(data-src='img/customers/5.svg' src='img/1x1.png' alt='Картинка')
            .customers-el
                picture
                    source(data-srcset='img/customers/6.svg' srcset='img/1x1.png' type='image/webp')
                    img(data-src='img/customers/6.svg' src='img/1x1.png' alt='Картинка')
            .customers-el
                picture
                    source(data-srcset='img/customers/7.svg' srcset='img/1x1.png' type='image/webp')
                    img(data-src='img/customers/7.svg' src='img/1x1.png' alt='Картинка')
            .customers-el
                picture
                    source(data-srcset='img/customers/1.svg' srcset='img/1x1.png' type='image/webp')
                    img(data-src='img/customers/1.svg' src='img/1x1.png' alt='Картинка')