section.sec-case-description
    ._container
        .body-case-description
            .case-description__text
                h2 Антонио Гауди
                p В настоящее время в России происходит активный перевод ключевых рабочих процессов образовательных учреждений в digital: автоматизация, создание информационных систем, интранет и корпоративные порталы, электронный документооборот, электронные дневники и контроль посещаемости, автоматизированные системы перевода студентов на различные формы обучения и многое другое.
                p Digital-агентство «Паравеб» более 9 лет помогает ведущим вузам и среднеобразовательным учреждениям России осуществить эту трансформацию наиболее эффективно, используя современные решения и уникальные авторские разработки. Мы следим за обновлениями в российском законодательстве и следуем стандартам и постановлениям, которые имеют отношение к образовательным учреждениям.

            .case-description__quote
                .quote
                    p “Крутая цитата про ремонт, строительство и проектирование”
                    br
                    p Антонио Гауди