section.sec-project
    ._container
        .project__title.title._anim-items наши проекты
    .body-project
        .swiper-container.project-container
            .swiper-wrapper.project-wrapper
                .swiper-slide.project-slide
                    .project-slide__img
                        picture
                            source(data-srcset='img/pr-1.webp' srcset='img/1x1.png' type='image/webp' media="mim-width:767px")
                            source(data-srcset='img/pr-1.png' srcset='img/1x1.png' type='image/png' media="mim-width:767px")
                            source(data-srcset='img/pr-1-m.webp' srcset='img/1x1.png' type='image/webp' media="max-width:767px")
                            source(data-srcset='img/pr-1-m.png' srcset='img/1x1.png' type='image/png' media="max-width:767px")
                            img(data-src='img/pr-1.png' src='img/1x1.png' alt='Картинка')

                    .project-slide__logo
                        picture
                            source(data-srcset='img/icons/Brick_logo.svg' srcset='img/1x1.png' type='image/png' )
                            img(data-src='img/icons/Brick_logo.svg' src='img/1x1.png' alt='Картинка')

                    .project-slide__bottom
                        .project-slide__type Корпоративный сайт
                        .project-slide__name Brick to Brick







                .swiper-slide.project-slide
                    .project-slide__img
                        picture
                            source(data-srcset='img/pr-1.webp' srcset='img/1x1.png' type='image/webp' media="mim-width:767px")
                            source(data-srcset='img/pr-1.png' srcset='img/1x1.png' type='image/png' media="mim-width:767px")
                            source(data-srcset='img/pr-1-m.webp' srcset='img/1x1.png' type='image/webp' media="max-width:767px")
                            source(data-srcset='img/pr-1-m.png' srcset='img/1x1.png' type='image/png' media="max-width:767px")
                            img(data-src='img/pr-1.png' src='img/1x1.png' alt='Картинка')

                    .project-slide__logo
                        picture
                            source(data-srcset='img/icons/Brick_logo.svg' srcset='img/1x1.png' type='image/png' )
                            img(data-src='img/icons/Brick_logo.svg' src='img/1x1.png' alt='Картинка')

                    .project-slide__bottom
                        .project-slide__type Корпоративный сайт
                        .project-slide__name Brick to Brick







                .swiper-slide.project-slide
                    .project-slide__img
                        picture
                            source(data-srcset='img/pr-1.webp' srcset='img/1x1.png' type='image/webp' media="mim-width:767px")
                            source(data-srcset='img/pr-1.png' srcset='img/1x1.png' type='image/png' media="mim-width:767px")
                            source(data-srcset='img/pr-1-m.webp' srcset='img/1x1.png' type='image/webp' media="max-width:767px")
                            source(data-srcset='img/pr-1-m.png' srcset='img/1x1.png' type='image/png' media="max-width:767px")
                            img(data-src='img/pr-1.png' src='img/1x1.png' alt='Картинка')

                    .project-slide__logo
                        picture
                            source(data-srcset='img/icons/Brick_logo.svg' srcset='img/1x1.png' type='image/png' )
                            img(data-src='img/icons/Brick_logo.svg' src='img/1x1.png' alt='Картинка')

                    .project-slide__bottom
                        .project-slide__type Корпоративный сайт
                        .project-slide__name Brick to Brick







                .swiper-slide.project-slide
                    .project-slide__img
                        picture
                            source(data-srcset='img/pr-1.webp' srcset='img/1x1.png' type='image/webp' media="mim-width:767px")
                            source(data-srcset='img/pr-1.png' srcset='img/1x1.png' type='image/png' media="mim-width:767px")
                            source(data-srcset='img/pr-1-m.webp' srcset='img/1x1.png' type='image/webp' media="max-width:767px")
                            source(data-srcset='img/pr-1-m.png' srcset='img/1x1.png' type='image/png' media="max-width:767px")
                            img(data-src='img/pr-1.png' src='img/1x1.png' alt='Картинка')

                    .project-slide__logo
                        picture
                            source(data-srcset='img/icons/Brick_logo.svg' srcset='img/1x1.png' type='image/png' )
                            img(data-src='img/icons/Brick_logo.svg' src='img/1x1.png' alt='Картинка')

                    .project-slide__bottom
                        .project-slide__type Корпоративный сайт
                        .project-slide__name Brick to Brick







                .swiper-slide.project-slide
                    .project-slide__img
                        picture
                            source(data-srcset='img/pr-1.webp' srcset='img/1x1.png' type='image/webp' media="mim-width:767px")
                            source(data-srcset='img/pr-1.png' srcset='img/1x1.png' type='image/png' media="mim-width:767px")
                            source(data-srcset='img/pr-1-m.webp' srcset='img/1x1.png' type='image/webp' media="max-width:767px")
                            source(data-srcset='img/pr-1-m.png' srcset='img/1x1.png' type='image/png' media="max-width:767px")
                            img(data-src='img/pr-1.png' src='img/1x1.png' alt='Картинка')

                    .project-slide__logo
                        picture
                            source(data-srcset='img/icons/Brick_logo.svg' srcset='img/1x1.png' type='image/png' )
                            img(data-src='img/icons/Brick_logo.svg' src='img/1x1.png' alt='Картинка')

                    .project-slide__bottom
                        .project-slide__type Корпоративный сайт
                        .project-slide__name Brick to Brick







        .project-pagination
        .arrows-project
            .project-button-prev
                picture
                    source(data-srcset='img/icons/arrow-pr-p.svg' srcset='img/1x1.png' type='image/webp')
                    img(data-src='img/icons/arrow-pr-p.svg' src='img/1x1.png' alt='Картинка')

            .project-button-next
                picture
                    source(data-srcset='img/icons/arrow-pr-n.svg' srcset='img/1x1.png' type='image/webp')
                    img(data-src='img/icons/arrow-pr-n.svg' src='img/1x1.png' alt='Картинка')