section.sec-reviews
    ._container
        .reviews__title.title Отзывы
        .body-reviews
            .swiper-container.reviews-container
                .swiper-wrapper.reviews-wrapper
                    .swiper-slide.reviews-slide
                        .reviews-text
                            p Благодарим команду Labsales за оперативную и качественную разработку сайта нашей винодельни. Специалисты веб-студии внимательно отнеслись к каждому требованию касательно дизайна и функциональности сайта.
                            p В результате мы получили даже больше, чем ожидали. Благодаря их профессионализму, проект с первого раза был согласован нашим руководством.
                            p Результат нас приятно удивил и полностью оправдал вложения.
                        .reviews-info
                            .reviews-name Ярослав Усков
                            .reviews-post Руководитель технического отдела "Мысхако"




                    .swiper-slide.reviews-slide
                        .reviews-text
                            p Благодарим команду Labsales за оперативную и качественную разработку сайта нашей винодельни. Специалисты веб-студии внимательно отнеслись к каждому требованию касательно дизайна и функциональности сайта.
                            p В результате мы получили даже больше, чем ожидали. Благодаря их профессионализму, проект с первого раза был согласован нашим руководством.
                            p Результат нас приятно удивил и полностью оправдал вложения.
                        .reviews-info
                            .reviews-name Ярослав Усков
                            .reviews-post Руководитель технического отдела "Мысхако"




                    .swiper-slide.reviews-slide
                        .reviews-text
                            p Благодарим команду Labsales за оперативную и качественную разработку сайта нашей винодельни. Специалисты веб-студии внимательно отнеслись к каждому требованию касательно дизайна и функциональности сайта.
                            p В результате мы получили даже больше, чем ожидали. Благодаря их профессионализму, проект с первого раза был согласован нашим руководством.
                            p Результат нас приятно удивил и полностью оправдал вложения.
                        .reviews-info
                            .reviews-name Ярослав Усков
                            .reviews-post Руководитель технического отдела "Мысхако"




                .arrows-reviews
                    .reviews-button-prev.arrow-portfolio
                        svg(width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg")
                            circle(cx="25" cy="25" r="24.5" stroke="white")
                            path(d="M31 10L16 25L31 40" stroke="white" stroke-width="2")

                    .reviews-button-next.arrow-portfolio
                        svg(width="50" height="50" viewBox="0 0 50 50" fill="none" xmlns="http://www.w3.org/2000/svg")
                            circle(r="24.5" transform="matrix(-1 0 0 1 25 25)" stroke="white")
                            path(d="M19 10L34 25L19 40" stroke="white" stroke-width="2")